[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
imutils = "*"
numpy = "*"
cmake = "*"
scipy = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
ipython = "*"
dlib = "*"
opencv-contrib-python = "==4.2.0.32"

[requires]
python_version = "3.7"
